.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    margin: 15px;
    max-height: 400px;
    min-width: 250px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}
.product:hover {
    transform: translateY(-4px); /* 微微上浮 */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* 更深的阴影 */
    background-color: #fffdf5; /* 微亮背景 */
}
.product__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    max-height: 40px;
    overflow: hidden;
}

.product > img {
    max-height: 180px;;
    width: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__price {
    margin-bottom: 5px;

}

/* .product__price {
    margin-top: 5px;
} */

.product > button {
    background-color: #f0c14b;
    border: 1px solid ;
    margin-top: 10px;
    border-color:#a88734  #9c7e31 #846a29;
    font-weight: bold;
    color: #111;
}
.product__info {
    text-align: center;
    margin-bottom: 10px;
}
.product__rating {
    display: flex;
    justify-content: center;
    /* align-items: center;
    margin-top: 5px; */
}
.product__info {
    height: 100px;
    margin-bottom: 15px;
  }


