# Jupyter checkpoint files
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Mac system files
.DS_Store

# VSCode settings (if you're using it)
.vscode/

# Environment files
.env
/003-flask-todo-api/.idea
*.pyd
/003-flask-todo-api/venv
/.idea
005-excel-to-pdf-invoice/.idea/005-excel-to-pdf-invoice.iml
/006-Emailing-dail-news-from-API/.idea
/007-weather-data-api/.idea
/005-excel-to-pdf-invoice/.idea
/004-pdf-maker/.idea
/008-weather-forecast-for-the-next-days/.idea
/009-nlp-for-ebook/.idea
/010-full-stack-amazon-clone/.idea
/010-full-stack-amazon-clone/.venv
/010-full-stack-amazon-clone/node_modules/.bin
/010-full-stack-amazon-clone/node_modules/@babel
/010-full-stack-amazon-clone/node_modules/@emotion
/010-full-stack-amazon-clone/node_modules/@jridgewell
/010-full-stack-amazon-clone/node_modules/@mui
/010-full-stack-amazon-clone/node_modules/@popperjs
/010-full-stack-amazon-clone/node_modules/@types
/010-full-stack-amazon-clone/node_modules/callsites
/010-full-stack-amazon-clone/node_modules/clsx
/010-full-stack-amazon-clone/node_modules/babel-plugin-macros
/010-full-stack-amazon-clone/node_modules/cosmiconfig
/010-full-stack-amazon-clone/node_modules/csstype
/010-full-stack-amazon-clone/node_modules/debug
/010-full-stack-amazon-clone/node_modules/dom-helpers
010-full-stack-amazon-clone/node_modules/error-ex/package.json
/010-full-stack-amazon-clone/node_modules/error-ex
/010-full-stack-amazon-clone/node_modules/escape-string-regexp
/010-full-stack-amazon-clone/node_modules/function-bind
/010-full-stack-amazon-clone/node_modules/globals
/010-full-stack-amazon-clone/node_modules/hasown
/010-full-stack-amazon-clone/node_modules/hoist-non-react-statics
/010-full-stack-amazon-clone/node_modules
