# Jupyter checkpoint files
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Mac system files
.DS_Store

# VSCode settings (if you're using it)
.vscode/

# Environment files
.env
003-flask-todo-api/.idea/misc.xml
003-flask-todo-api/.idea/inspectionProfiles/profiles_settings.xml
003-flask-todo-api/.idea/003-flask-todo-api.iml
003-flask-todo-api/.idea/vcs.xml
003-flask-todo-api/.idea/modules.xml
